{
    auto_https off
}


mealie.home.box:80 {
    reverse_proxy mealie:9000
    }

pdf.home.box:80 {
    reverse_proxy stacks-stirling-pdf-1:8080
}

home.box:80 {
    reverse_proxy heimdall:80
}

code.home.box:80 {
    reverse_proxy code-server:8443
}

pihole.home.box:80 {
    reverse_proxy /admin* host.docker.internal:8080
}

photo.home.box:80 {
    reverse_proxy immich:3001
}

prism.home.box:80 {
    reverse_proxy photoprism:2342
}

assistant.home.box:80 {
    reverse_proxy homeassistant:8123
}